## Data Profile: Executions US

### Table of Contents

    1. Import libraries and data
    2. Checking and describing
    3. Dropping columns due to privacy
    4. Duplicate check
    5. Missing vales check
    6. Renaming columns
    7. Exporting file

## 1. Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Import data

df = pd.read_csv(r'/Users/jodikim/02_2023_Death_Penalty_Analysis/02_Data/Original_Data/us_executions.csv', index_col = False)

In [3]:
# Path

path = r'/Users/jodikim/02_2023_Death_Penalty_Analysis'

In [4]:
path

'/Users/jodikim/02_2023_Death_Penalty_Analysis'

In [5]:
df = pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'us_executions.csv'), index_col = False)

## 2. Checking and describing

In [6]:
df.shape

(1561, 28)

In [7]:
df.head()

,ID,Execution Volunteer,Number of Victims,Juvenile,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,...,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim(s) Race(s)
0,1,yes,1,no,Gary,Gilmore,Mark,NaN,White,Male,...,0,0,0,0,0,0,0,0,0,White
1,2,no,1,no,John,Spenkelink,NaN,NaN,White,Male,...,0,0,0,0,0,0,0,0,0,White
2,3,yes,1,no,Jesse,Bishop,NaN,NaN,White,Male,...,0,0,0,0,0,0,0,0,0,White
3,4,yes,4,no,Steven,Judy,NaN,NaN,White,Male,...,0,0,0,2,0,0,0,0,0,White
4,5,yes,1,no,Frank,Coppola,NaN,NaN,White,Male,...,0,0,0,0,0,0,0,0,0,White

In [8]:
df.tail()

,ID,Execution Volunteer,Number of Victims,Juvenile,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,...,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim(s) Race(s)
1556,1557,no,1,no,Kevin,Johnson,NaN,NaN,Black,Male,...,0,0,0,0,0,0,0,0,0,White
1557,1558,no,1,no,Thomas,Edwin,Loden,Jr.,White,Male,...,0,0,0,1,0,0,0,0,0,White
1558,1559,no,1,no,Amber,McLaughlin,NaN,NaN,White,Female,...,0,0,0,1,0,0,0,0,0,White
1559,1560,no,1,no,\tRobert,Fratta,Alan,NaN,White,Male,...,0,0,0,1,0,0,0,0,0,White
1560,1561,no,2,no,\tScott,Eizember,J.,NaN,White,Male,...,0,0,0,1,0,0,0,0,0,White

In [9]:
df.dtypes

ID                                                            int64
Execution Volunteer                                          object
Number of Victims                                             int64
Juvenile                                                     object
First Name                                                   object
Last Name                                                    object
Middle Name(s)                                               object
Suffix                                                       object
Race                                                         object
Sex                                                          object
Region                                                       object
Country                                                      object
State                                                        object
Foreign National                                             object
Execution Date                                               object
Number of White Male Victims                                  int64
Number of Black Male Victims                                  int64
Number of Latino Male Victims                                 int64
Number of Asian Male Victims                                  int64
Number of Native American Male Victims                        int64
Number of Other Race Male Victims                             int64
Number of White Female Victims                                int64
Number of Black Female Victims                                int64
Number of Latino Female Victims                               int64
Number of Asian Female Victims                                int64
Number of American Indian or Alaska Native Female Victims     int64
Number of Other Race Female Victims                           int64
Victim(s) Race(s)                                            object
dtype: object

In [10]:
df.describe()

,ID,Number of Victims,Number of White Male Victims,Number of Black Male Victims,Number of Latino Male Victims,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims
count,1561.0000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000,1561.000000
mean,781.0000,1.434337,0.536195,0.116592,0.064702,0.014734,0.001922,0.002562,0.545163,0.104420,0.036515,0.007047,0.002562,0.001281
std,450.7662,0.992769,0.777984,0.466012,0.308496,0.130730,0.056581,0.050572,0.732517,0.400304,0.227752,0.097804,0.061964,0.035783
min,1.0000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,391.0000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,781.0000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1171.0000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1561.0000,16.000000,12.000000,6.000000,5.000000,2.000000,2.000000,1.000000,10.000000,5.000000,4.000000,2.000000,2.000000,1.000000

In [11]:
df.columns

Index(['ID', 'Execution Volunteer', 'Number of Victims', 'Juvenile',
       'First Name', 'Last Name', 'Middle Name(s)', 'Suffix', 'Race', 'Sex',
       'Region', 'Country', 'State', 'Foreign National', 'Execution Date',
       'Number of White Male Victims', 'Number of Black Male Victims',
       'Number of Latino Male Victims', 'Number of Asian Male Victims',
       'Number of Native American Male Victims',
       'Number of Other Race Male Victims', 'Number of White Female Victims',
       'Number of Black Female Victims', 'Number of Latino Female Victims',
       'Number of Asian Female Victims',
       'Number of American Indian or Alaska Native Female Victims',
       'Number of Other Race Female Victims', 'Victim(s) Race(s)'],
      dtype='object')

## 3. Dropping columns

In [12]:
# Dropping columns due to privacy: first name, last name, middle name, suffix. Can use ID for analysis. Will create new df.

df_2 = df.drop(columns = ['First Name', 'Last Name', 'Middle Name(s)', 'Suffix'])

In [13]:
# Checking change

df_2.head()

,ID,Execution Volunteer,Number of Victims,Juvenile,Race,Sex,Region,Country,State,Foreign National,...,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim(s) Race(s)
0,1,yes,1,no,White,Male,West,United States,Utah,No,...,0,0,0,0,0,0,0,0,0,White
1,2,no,1,no,White,Male,South,United States,Florida,No,...,0,0,0,0,0,0,0,0,0,White
2,3,yes,1,no,White,Male,West,United States,Nevada,No,...,0,0,0,0,0,0,0,0,0,White
3,4,yes,4,no,White,Male,Midwest,United States,Indiana,No,...,0,0,0,2,0,0,0,0,0,White
4,5,yes,1,no,White,Male,South,United States,Virginia,No,...,0,0,0,0,0,0,0,0,0,White

## 4. Duplicate check

In [14]:
# Find duplicates

df_dups = df_2[df_2.duplicated()]

In [15]:
df_dups.shape

(0, 24)

## 5. Missing vales check

In [16]:
# Check for missing values

df_2.isnull().sum()

ID                                                           0
Execution Volunteer                                          0
Number of Victims                                            0
Juvenile                                                     0
Race                                                         0
Sex                                                          0
Region                                                       0
Country                                                      0
State                                                        0
Foreign National                                             0
Execution Date                                               0
Number of White Male Victims                                 0
Number of Black Male Victims                                 0
Number of Latino Male Victims                                0
Number of Asian Male Victims                                 0
Number of Native American Male Victims                       0
Number of Other Race Male Victims                            0
Number of White Female Victims                               0
Number of Black Female Victims                               0
Number of Latino Female Victims                              0
Number of Asian Female Victims                               0
Number of American Indian or Alaska Native Female Victims    0
Number of Other Race Female Victims                          0
Victim(s) Race(s)                                            0
dtype: int64

## 6. Renaming Columns

In [18]:
# Rename columns whose names are too long

df_2.rename(columns = {'Number of White Male Victims' : 'white_male_victims', 'Number of Black Male Victims' : 'black_male_victims', 
                     'Number of Latino Male Victims' : 'latino_male_victims', 'Number of Asian Male Victims' : 'asian_male_victims',
                     'Number of Native American Male Victims' : 'native_amer_male_victims', 'Number of Other Race Male Victims' : 'other_race_male_victims', 'Number of White Female Victims' : 'white_female_victims', 'Number of Black Female Victims' : 'black_female_victims', 'Number of Latino Female Victims' : 'latino_female_victims', 'Number of Asian Female Victims' : 'asian_female_victims', 'Number of American Indian or Alaska Native Female Victims' : 'amerind_nativealask_female_victims', 'Number of Other Race Female Victims' : 'other_race_female_victims'},
                      inplace = True)

In [19]:
# Checking renaming of columns

df_2.columns

Index(['ID', 'Execution Volunteer', 'Number of Victims', 'Juvenile', 'Race',
       'Sex', 'Region', 'Country', 'State', 'Foreign National',
       'Execution Date', 'white_male_victims', 'black_male_victims',
       'latino_male_victims', 'asian_male_victims', 'native_amer_male_victims',
       'other_race_male_victims', 'white_female_victims',
       'black_female_victims', 'latino_female_victims', 'asian_female_victims',
       'amerind_nativealask_female_victims', 'other_race_female_victims',
       'Victim(s) Race(s)'],
      dtype='object')

In [20]:
# Rename columns to be all lowercase for consistency and adding underscore between names

df_2.rename(columns = {'ID' : 'id', 'Execution Volunteer' : 'execution_volunteer', 
                     'Number of Victims' : 'number_victims', 'Juvenile' : 'juvenile',
                     'Race' : 'race', 'Sex' : 'sex', 'Region' : 'region', 'Country' : 'country', 'State' : 'state', 'Foreign National' : 'foreign_national', 'Execution Date' : 'execution_date', 'Victim(s) Race(s)' : 'victims_races'},
                      inplace = True)

In [21]:
# Checking renaming of columns

df_2.columns

Index(['id', 'execution_volunteer', 'number_victims', 'juvenile', 'race',
       'sex', 'region', 'country', 'state', 'foreign_national',
       'execution_date', 'white_male_victims', 'black_male_victims',
       'latino_male_victims', 'asian_male_victims', 'native_amer_male_victims',
       'other_race_male_victims', 'white_female_victims',
       'black_female_victims', 'latino_female_victims', 'asian_female_victims',
       'amerind_nativealask_female_victims', 'other_race_female_victims',
       'victims_races'],
      dtype='object')

In [22]:
# Checking for mixed-type data

for col in df_2.columns.tolist():
      weird = (df_2[[col]].applymap(type) != df_2[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df_2[weird]) > 0:
        print (col)

In [23]:
df_2.shape

(1561, 24)

## 7. Exporting file

In [24]:
df_2.to_csv(os.path.join(path, '02_Data','Prepared_Data', 'us_executions_cleaned.csv'))